doctrine:
	connections:
		default:
			driver: pdo_sqlite
			path: %storageDir%/db.sqlite

	entityManagers:
		default:
			connection: default

services:
	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage
	templateCacheStorage:
		class: Nette\Caching\Storages\MemoryStorage
		autowired: no
