doctrine:
	entityManagers:
		default:
			connection:
				driver: pdo_sqlite
				path: %storageDir%/db.sqlite

			console: true

media:
	entityManager: @doctrine.entityManager


model:
	entityManager: @doctrine.entityManager

services:
	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage
	templateCacheStorage:
		class: Nette\Caching\Storages\MemoryStorage
		autowired: no

diagnostics:
