#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	php: # PHP configuration
		date.timezone: Europe/Prague
		php.session.save_path = "%tempDir%/sessions"
		# php.zlib.output_compression = yes
		# php.default_charset = "UTF-8"

	service:
		Nette\Loaders\RobotLoader:
			option:
				directory: [%appDir%, %libsDir%]
			run: true
		
		Nette\Caching\Cache:
			class: Nette\Caching\Cache
			argument: ['@Nette\Caching\ICacheStorage']

		Doctrine\Common\Cache\Cache:
			class: Nella\Doctrine\Cache
			argument: ['@Nette\Caching\Cache']
			
		Doctrine\DBAL\Logging\SQLLogger:
			factory: Nella\Doctrine\Panel::create
			run: true

		Doctrine\Common\EventManager:
			class: Doctrine\Common\EventManager
			
		Doctrine\DBAL\Event\Listeners\MysqlSessionInit:
			class: Doctrine\DBAL\Event\Listeners\MysqlSessionInit
			argument: ['utf8']
			
		Doctrine\ORM\Configuration:
			factory: Nella\Doctrine\ServiceFactory::configuration
			argument: 
				- '@Doctrine\Common\Cache\Cache'
				- NULL
				- '@Doctrine\DBAL\Logging\SQLLogger'

		Doctrine\ORM\EntityManager:
			factory: Nella\Doctrine\ServiceFactory::entityManager
			argument:
				- {driver: pdo_mysql, host: localhost, user: sandbox, password: sandbox, dbname: sandbox}
				- '@Doctrine\ORM\Configuration'
				- '@Doctrine\Common\EventManager'
				- '@Doctrine\DBAL\Event\Listeners\MysqlSessionInit'


production < common:

development < common:

